@use "./variables";

form{
    display: flex;
    flex-direction: column;
    div{
        margin: 20px 0;
    }
    input{
        background-color: #e6e6e6;
        border: 3px solid variables.$secondaryColor;
        border-radius: 2px;
        padding: 5px 15px;
        color: black;
        font-family: variables.$secondaryFont;

    }
    button{
        background-color: variables.$secondaryColor;
        border: 3px solid variables.$secondaryColor;
        border-radius: 2px;
        color: white;
        padding: 6px 20px;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-family: variables.$secondaryFont;
        transition: all 0.3s ease-in;
    }
    button:hover,
    button:focus,
    button:active {
        cursor: pointer;
        background-color: rgb(95, 7, 25);
        border-color: rgb(95, 7, 25);
        text-shadow: 0 0 2px #fff;
        // box-shadow: 0 0 15px darkred;
        
    }
    button:not(:hover) {
        background-color: variables.$secondaryColor;
        border: 3px solid variables.$secondaryColor;
        text-shadow: none;
    }
}
